<div class="flex flex-col gap-2">
  <div class="flex justify-end">
    <p-button
      icon="pi pi-external-link"
      label="Exportar"
      (click)="onExport()"
      styleClass="p-button-sm"
    ></p-button>
  </div>
  <div class="grid grid-cols-12 gap-3">
    <div class="col-span-12 flex gap-3">
      <app-card class="flex-1">
        <span class="text-xs font-medium text-center text-surface-500">
          Obtido
        </span>
        <span class="text-xl font-bold text-rose-800">
          {{ totalPontos }}pts
        </span>
      </app-card>
      <app-card class="flex-1">
        <span class="text-xs font-medium text-center text-surface-500">
          Máximo
        </span>
        <span class="text-xl font-bold text-rose-800"> 70pts </span>
      </app-card>
      <app-card class="flex-1">
        <span class="text-xs font-medium text-center text-surface-500">
          Percentual
        </span>
        <span class="text-xl font-bold text-rose-800">
          {{ (this.totalPontos / 70) * 100 }}%
        </span>
      </app-card>
    </div>

    <span class="font-medium -mb-1 text-surface-600 col-span-6"
      >a) Distribuição de servidores por grau de jurisdição (91,5% - Triênio
      2024 / 90,4% Margem de Tolerância)</span
    >
    <span class="font-medium -mb-1 text-surface-600 col-span-6"
      >b) Distribuição de cargos e funções por grau de jurisdição (91,5% -
      Triênio 2024 / 90,4% Margem de Tolerância)</span
    >
    @for (item of situacaoPremio | slice: 0 : 6; track item.label) {
      <div class="flex flex-col gap-3 col-span-2">
        <app-card
          [mode]="
            item.desc === 'Cumprido'
              ? 'success'
              : item.desc === 'Não cumprido'
                ? 'fail'
                : 'default'
          "
        >
          <span
            class="text-xs font-medium text-center"
            [ngClass]="
              item.desc === 'Cumprido'
                ? 'text-green-800/80'
                : item.desc === 'Não cumprido'
                  ? 'text-rose-800/80'
                  : 'text-surface-500'
            "
          >
            {{ item.label }}
          </span>
          <span
            class="text-xl font-bold"
            [ngClass]="
              item.desc === 'Cumprido'
                ? 'text-green-800'
                : item.desc === 'Não cumprido'
                  ? 'text-rose-800'
                  : 'text-rose-800'
            "
          >
            {{ item.value }}
          </span>

          <span
            class="text-xs text-center"
            [ngClass]="
              item.desc === 'Cumprido'
                ? 'text-green-800/80'
                : item.desc === 'Não cumprido'
                  ? 'text-rose-800/80'
                  : 'text-surface-500'
            "
          >
            {{ item.desc }}
          </span>
        </app-card>
      </div>
    }

    <span class="font-medium -mb-1 text-surface-600 col-span-6"
      >c) Limite de 30% de servidores na área de apoio indireto
      (Administrativo)</span
    >
    <span class="font-medium -mb-1 text-surface-600 col-span-6"
      >d) Limite de 30% de cargos e funções na área de apoio indireto
      (Administrativo)</span
    >
    @for (item of situacaoPremio | slice: 6 : 10; track item.label) {
      <div class="flex flex-col gap-3 col-span-3">
        <app-card
          [mode]="
            item.desc === 'Cumprido'
              ? 'success'
              : item.desc === 'Não cumprido'
                ? 'fail'
                : 'default'
          "
        >
          <span
            class="text-xs font-medium text-center"
            [ngClass]="
              item.desc === 'Cumprido'
                ? 'text-green-800/80'
                : item.desc === 'Não cumprido'
                  ? 'text-rose-800/80'
                  : 'text-surface-500'
            "
          >
            {{ item.label }}
          </span>
          <span
            class="text-xl font-bold"
            [ngClass]="
              item.desc === 'Cumprido'
                ? 'text-green-800'
                : item.desc === 'Não cumprido'
                  ? 'text-rose-800'
                  : 'text-rose-800'
            "
          >
            {{ item.value }}
          </span>

          <span
            class="text-xs text-center"
            [ngClass]="
              item.desc === 'Cumprido'
                ? 'text-green-800/80'
                : item.desc === 'Não cumprido'
                  ? 'text-rose-800/80'
                  : 'text-surface-500'
            "
          >
            {{ item.desc }}
          </span>
        </app-card>
      </div>
    }
  </div>
</div>
