<div class="flex flex-col gap-2">
  <div class="flex justify-end">
    <p-button
      icon="pi pi-external-link"
      label="Exportar"
      (click)="onExport()"
      styleClass="p-button-sm"
    ></p-button>
  </div>
  <div class="grid grid-cols-5 gap-3">
    <span class="font-medium -mb-1 text-surface-600 col-span-5"
      >a) Distribuição de servidores por grau de jurisdição (90,1%)</span
    >
    @for (item of calculosResolucao | slice: 0 : 5; track item.label) {
      <app-card [styleClass]="item.bgColor || ''">
        <span
          class="text-xs font-medium text-center"
          [ngClass]="
            item.textColor ? item.textColor + ' opacity-80' : 'text-surface-500'
          "
        >
          {{ item.label }}
        </span>
        <span
          class="text-xl font-bold"
          [ngClass]="item.textColor ? item.textColor : 'text-rose-800'"
        >
          {{ item.value }}
        </span>

        <span
          class="text-xs text-center"
          [ngClass]="
            item.textColor ? item.textColor + ' opacity-80' : 'text-surface-500'
          "
        >
          {{ item.desc }}
        </span>
      </app-card>
    }

    <span class="font-medium -mb-1 text-surface-600 col-span-5"
      >b) Distribuição de cargos e funções por grau de jurisdição
    </span>
    @for (item of calculosResolucao | slice: 5 : 10; track item.label) {
      <app-card [styleClass]="item.bgColor || ''">
        <span
          class="text-xs font-medium text-center"
          [ngClass]="
            item.textColor ? item.textColor + ' opacity-80' : 'text-surface-500'
          "
        >
          {{ item.label }}
        </span>
        <span
          class="text-xl font-bold"
          [ngClass]="item.textColor ? item.textColor : 'text-rose-800'"
        >
          {{ item.value }}
        </span>

        <span
          class="text-xs text-center"
          [ngClass]="
            item.textColor ? item.textColor + ' opacity-80' : 'text-surface-500'
          "
        >
          {{ item.desc }}
        </span>
      </app-card>
    }

    <span class="font-medium -mb-1 text-surface-600 col-span-5"
      >c) Limite de 30% de servidores na área de apoio indireto (Administrativo)
    </span>
    @for (item of calculosResolucao | slice: 10 : 15; track item.label) {
      <app-card [styleClass]="item.bgColor || ''">
        <span
          class="text-xs font-medium text-center"
          [ngClass]="
            item.textColor ? item.textColor + ' opacity-80' : 'text-surface-500'
          "
        >
          {{ item.label }}
        </span>
        <span
          class="text-xl font-bold"
          [ngClass]="item.textColor ? item.textColor : 'text-rose-800'"
        >
          {{ item.value }}
        </span>

        <span
          class="text-xs text-center"
          [ngClass]="
            item.textColor ? item.textColor + ' opacity-80' : 'text-surface-500'
          "
        >
          {{ item.desc }}
        </span>
      </app-card>
    }

    <span class="font-medium -mb-1 text-surface-600 col-span-5"
      >d) Limite de 30% de cargos e funções na área de apoio indireto
      (Administrativo)
    </span>
    @for (item of calculosResolucao | slice: 15 : 20; track item.label) {
      <app-card [styleClass]="item.bgColor || ''">
        <span
          class="text-xs font-medium text-center"
          [ngClass]="
            item.textColor ? item.textColor + ' opacity-80' : 'text-surface-500'
          "
        >
          {{ item.label }}
        </span>
        <span
          class="text-xl font-bold"
          [ngClass]="item.textColor ? item.textColor : 'text-rose-800'"
        >
          {{ item.value }}
        </span>

        <span
          class="text-xs text-center"
          [ngClass]="
            item.textColor ? item.textColor + ' opacity-80' : 'text-surface-500'
          "
        >
          {{ item.desc }}
        </span>
      </app-card>
    }
  </div>
</div>
