<p-table
  [value]="resolucaoData"
  class="min-w-full text-xs flex flex-col h-full"
  [exportHeader]="'header'"
  stripedRows
  [pt]="{
    root: {
      class: 'border border-surface-100 rounded-xl'
    },
    header: {
      class: 'bg-surface-0 text-surface-700 rounded-t-xl'
    }
  }"
>
  <ng-template #caption>
    <div class="flex items-center justify-end">
      <p-button
        icon="pi pi-external-link"
        label="Exportar"
        (click)="onExport()"
      />
    </div>
  </ng-template>

  <ng-template #header>
    <tr>
      <th class="text-sm py-2 px-4 whitespace-nowrap">Descrição</th>
      <th class="text-sm py-2 px-4 whitespace-nowrap">Pergunta</th>
      <th class="text-sm py-2 px-4 whitespace-nowrap">Valor</th>
    </tr>
  </ng-template>

  <ng-template #body let-row>
    <tr class="hover:bg-surface-50" [pTooltip]="row.tooltip" autoHide="false">
      <td class="py-2 px-4 font-medium">{{ row.label }}</td>
      <td class="py-2 px-4">{{ row.question }}</td>
      <td class="py-2 px-4">
        @if (row.isCurrency) {
        {{ row.value | currency : "BRL" : "symbol" : "1.2-2" }}
        } @else {
        {{ row.value }}
        }
      </td>
    </tr>
  </ng-template>
</p-table>
