<div class="mx-auto px-8 py-4 flex flex-col h-screen min-h-0 gap-3">
  <h2 class="text-2xl font-semibold text-rose-800">
    Consulta Servidores — ADMRH
  </h2>

  <div class="mb-2">
    <input
      pButton
      title="input1"
      type="file"
      accept=".xlsx"
      (change)="onFileSelected($event)"
      class="file:mr-4 file:py-2 file:px-4 file:rounded-md file:border-0 file:bg-rose-800 file:text-white hover:file:bg-rose-900 cursor-pointer"
    />
  </div>

  <div *ngIf="loading" class="text-center my-8">
    <div
      class="w-10 h-10 border-4 border-gray-300 border-t-rose-800 rounded-full animate-spin mx-auto"
    ></div>
    <p class="mt-3 font-semibold text-gray-800">Carregando dados...</p>
  </div>

  <!-- CARDS DE APOIO -->
  <div *ngIf="!loading && apoioCounts.length > 0" class="flex gap-3">
    <div
      *ngFor="let item of apoioCounts"
      class="flex-1 bg-gray-100 p-2 flex flex-col items-center justify-center rounded-lg"
    >
      <span class="text-xl font-bold text-rose-800">
        {{ item.count }}
      </span>
      <span
        class="text-xs font-medium text-gray-500 uppercase tracking-wider text-center"
      >
        {{ item.label }}
      </span>
    </div>
  </div>

  <!-- WRAPPER DA TABELA (***IMPORTANTE***) -->
  <div
    *ngIf="!loading && dados.length > 0"
    class="border border-gray-100 rounded-lg bg-white flex flex-col grow min-h-0"
  >
    <p-table
      #dt
      [value]="dados"
      [paginator]="true"
      [rowsPerPageOptions]="[10, 25, 50]"
      [columns]="cols"
      [rows]="rows"
      [scrollable]="true"
      scrollHeight="flex"
      [globalFilterFields]="globalFields"
      class="min-w-full text-xs flex flex-col"
      [exportHeader]="'header'"
      (sortFunction)="customSort($event)"
      [customSort]="true"
      [pt]="{header: { class: 'bg-gray-100 text-gray-700 rounded-t-lg' },}"
    >
      <ng-template #caption>
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-2">
            <i class="pi pi-search text-gray-600"></i>
            <input
              pInputText
              type="text"
              placeholder="Filtro global..."
              [(ngModel)]="globalFilterValue"
              (input)="dt.filterGlobal(globalFilterValue, 'contains')"
              class="h-9 px-3 rounded"
              [pt]="inputPt"
            />
          </div>

          <div class="flex gap-3">
            <p-button
              label="Limpar filtros"
              icon="pi pi-filter-slash"
              outlined="true"
              severity="contrast"
              (click)="clearTableFilters(dt)"
            ></p-button>

            <p-button
              icon="pi pi-external-link"
              label="Export"
              (click)="exportToCSV()"
            />
          </div>
        </div>
      </ng-template>

      <!-- CABEÇALHO -->
      <ng-template #header let-columns>
        <tr>
          <th
            *ngFor="let col of columns"
            [pSortableColumn]="col.field"
            class="text-sm py-2 px-4 whitespace-nowrap"
          >
            {{ col.header }} <p-sortIcon [field]="col.field" />
          </th>
        </tr>

        <!-- FILTROS -->
        <tr>
          <th>
            <p-columnFilter
              field="matricula"
              matchMode="contains"
              showMenu="false"
            >
              <ng-template
                pTemplate="filter"
                let-value
                let-filter="filterCallback"
              >
                <input
                  type="text"
                  pInputText
                  [value]="value"
                  (input)="filter($event.target.value)"
                  placeholder="Filtrar..."
                  class="w-28"
                  [pt]="inputPt"
                />
              </ng-template>
            </p-columnFilter>
          </th>

          <th>
            <p-columnFilter field="apoio" matchMode="in" showMenu="false">
              <ng-template
                pTemplate="filter"
                let-filterCallback="filterCallback"
              >
                <p-multiSelect
                  [options]="getOptions('apoio')"
                  [(ngModel)]="filterValues['apoio']"
                  (onChange)="filterCallback(filterValues['apoio'])"
                  appendTo="body"
                  class="w-28"
                  [pt]="multiselectPt"
                />
              </ng-template>
            </p-columnFilter>
          </th>

          <th>
            <p-columnFilter field="grau" matchMode="in" showMenu="false">
              <ng-template
                pTemplate="filter"
                let-filterCallback="filterCallback"
              >
                <p-multiSelect
                  [options]="getOptions('grau')"
                  [(ngModel)]="filterValues['grau']"
                  (onChange)="filterCallback(filterValues['grau'])"
                  appendTo="body"
                  class="w-28"
                  [pt]="multiselectPt"
                />
              </ng-template>
            </p-columnFilter>
          </th>

          <th>
            <p-columnFilter field="nome" matchMode="contains" showMenu="false">
              <ng-template
                pTemplate="filter"
                let-value
                let-filter="filterCallback"
              >
                <input
                  type="text"
                  pInputText
                  [value]="value"
                  (input)="filter($event.target.value)"
                  placeholder="Filtrar..."
                  class="w-28"
                  [pt]="inputPt"
                />
              </ng-template>
            </p-columnFilter>
          </th>
          <th>
            <p-columnFilter field="secretaria" matchMode="in" showMenu="false">
              <ng-template
                pTemplate="filter"
                let-filterCallback="filterCallback"
              >
                <p-multiSelect
                  [options]="getOptions('secretaria')"
                  [(ngModel)]="filterValues['secretaria']"
                  (onChange)="
                    filterCallback(filterValues['secretaria']);
                    onSecretariaChange(filterValues['secretaria'])
                  "
                  appendTo="body"
                  class="w-28"
                  [pt]="multiselectPt"
                />
              </ng-template>
            </p-columnFilter>
          </th>
          <th>
            <p-columnFilter field="unidade" matchMode="in" showMenu="false">
              <ng-template
                pTemplate="filter"
                let-filterCallback="filterCallback"
              >
                <p-multiSelect
                  [options]="getOptions('unidade')"
                  [(ngModel)]="filterValues['unidade']"
                  (onChange)="
                    filterCallback(filterValues['unidade']);
                    onUnidadeChange(filterValues['unidade'])
                  "
                  appendTo="body"
                  class="w-28"
                  [pt]="multiselectPt"
                />
              </ng-template>
            </p-columnFilter>
          </th>
          <th>
            <p-columnFilter field="setor" matchMode="in" showMenu="false">
              <ng-template
                pTemplate="filter"
                let-filterCallback="filterCallback"
              >
                <p-multiSelect
                  [options]="getOptions('setor')"
                  [(ngModel)]="filterValues['setor']"
                  (onChange)="
                    filterCallback(filterValues['setor']);
                    onSetorChange(filterValues['setor'])
                  "
                  appendTo="body"
                  class="w-28"
                  [pt]="multiselectPt"
                />
              </ng-template>
            </p-columnFilter>
          </th>
          <th>
            <p-columnFilter field="centro" matchMode="in" showMenu="false">
              <ng-template
                pTemplate="filter"
                let-filterCallback="filterCallback"
              >
                <p-multiSelect
                  [options]="getOptions('centro')"
                  [(ngModel)]="filterValues['centro']"
                  (onChange)="filterCallback(filterValues['centro'])"
                  appendTo="body"
                  class="w-28"
                  [pt]="multiselectPt"
                />
              </ng-template>
            </p-columnFilter>
          </th>
          <th>
            <p-columnFilter field="vinculo" matchMode="in" showMenu="false">
              <ng-template
                pTemplate="filter"
                let-filterCallback="filterCallback"
              >
                <p-multiSelect
                  [options]="getOptions('vinculo')"
                  [(ngModel)]="filterValues['vinculo']"
                  (onChange)="filterCallback(filterValues['vinculo'])"
                  appendTo="body"
                  class="w-28"
                  [pt]="multiselectPt"
                />
              </ng-template>
            </p-columnFilter>
          </th>
          <th>
            <p-columnFilter field="cargo" matchMode="in" showMenu="false">
              <ng-template
                pTemplate="filter"
                let-filterCallback="filterCallback"
              >
                <p-multiSelect
                  [options]="getOptions('cargo')"
                  [(ngModel)]="filterValues['cargo']"
                  (onChange)="filterCallback(filterValues['cargo'])"
                  appendTo="body"
                  class="w-28"
                  [pt]="multiselectPt"
                />
              </ng-template>
            </p-columnFilter>
          </th>
          <th>
            <p-columnFilter field="padrao" matchMode="in" showMenu="false">
              <ng-template
                pTemplate="filter"
                let-filterCallback="filterCallback"
              >
                <p-multiSelect
                  [options]="getOptions('padrao')"
                  [(ngModel)]="filterValues['padrao']"
                  (onChange)="filterCallback(filterValues['padrao'])"
                  appendTo="body"
                  class="w-28"
                  [pt]="multiselectPt"
                />
              </ng-template>
            </p-columnFilter>
          </th>
          <th>
            <p-columnFilter
              field="funcao"
              matchMode="in"
              [showMenu]="false"
              showClearButton="false"
            >
              <ng-template
                pTemplate="filter"
                let-filterCallback="filterCallback"
              >
                <p-multiSelect
                  [options]="getOptions('funcao')"
                  [(ngModel)]="filterValues['funcao']"
                  (onChange)="filterCallback(filterValues['funcao'])"
                  appendTo="body"
                  class="w-28"
                  [pt]="multiselectPt"
                />
              </ng-template>
            </p-columnFilter>
          </th>
          <th>
            <p-columnFilter
              field="padrao_funcao"
              matchMode="in"
              showMenu="false"
            >
              <ng-template
                pTemplate="filter"
                let-filterCallback="filterCallback"
              >
                <p-multiSelect
                  [options]="getOptions('padrao_funcao')"
                  [(ngModel)]="filterValues['padrao_funcao']"
                  (onChange)="filterCallback(filterValues['padrao_funcao'])"
                  appendTo="body"
                  class="w-28"
                  [pt]="multiselectPt"
                />
              </ng-template>
            </p-columnFilter>
          </th>
        </tr>
      </ng-template>

      <!-- CORPO -->
      <ng-template #body let-row let-columns="columns">
        <tr class="hover:bg-rose-50">
          <td *ngFor="let col of columns">
            {{ row[col.field] }}
          </td>
        </tr>
      </ng-template>

      <!-- PAGINAÇÃO -->
      <ng-template pTemplate="paginatorleft" let-state>
        <div class="text-sm text-gray-600 flex gap-4 items-center">
          <span>
            Exibindo {{ state.first + 1 }} a {{ state.first + state.rows }} de
            {{ state.totalRecords }} registros
          </span>
        </div>
      </ng-template>
    </p-table>
  </div>

  <div *ngIf="!loading && (!dados || dados.length === 0)" class="text-gray-600">
    Faça o upload do arquivo .xlsx para exibir os dados.
  </div>
</div>
